[submodule "vendor/archipelago"]
	path = vendor/archipelago
	url = https://github.com/gerbiljames/Archipelago-Crystal.git
	branch = pokecrystal
[submodule "binjgb"]
	path = binjgb
	url = https://github.com/binji/binjgb.git
[submodule "archipelago-prerelease"]
	path = vendor/archipelago-prerelease
	url = https://github.com/gerbiljames/Archipelago-Crystal.git
	branch = future/6.0.0
[submodule "vendor/archipelago-tracker"]
	path = vendor/archipelago-tracker
	url = https://github.com/FarisTheAncient/Archipelago.git
	branch = tracker
